<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="./static/styles/themes/{{THEME_NAME}}/styles.css" />
</head>
<body class="public-page-view">
	<div class="public-page-card">
		<h2>{{EVENT_NAME}}</h2>
		<span>{{EVENT_BEGIN}} {{EVENT_DATE}}</span><br/>
		<span>{{EVENT_DESCRIPTION}}</span><br/>
		<span class="status" style="color: {{ACTION_COLOR}};">{{EVENT_ACTION}}</span><br/>
	</div>
</body>
</html>
